In [1]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('WeatherData.csv', delimiter=',', skipinitialspace=True)
df.tail(24)

      Date  Htemp  Ltemp  Humidity  Pressure   Yield
36  Aug-18     95     66        82     30.02  7520.0
37  Sep-18     94     55        86     30.02  7520.0
38  Oct-18     89     37        83     30.07  7520.0
39  Nov-18     70     24        77     30.09  7520.0
40  Feb-19     77     21        78     30.08  7480.0
41  Mar-19     76     19        65     30.17  7480.0
42  Apr-19     86     34        71     29.95  7480.0
43  May-19     90     50        77     29.93  7480.0
44  Jun-19     92     57        74     29.94  7480.0
45  19-Jul     95     62        77     30.00  7480.0
46  Aug-19     98     64        77     29.96  7480.0
47  Sep-19     98     66        73     30.03  7480.0
48  Oct-19     94     33        75     30.02  7480.0
49  Nov-19     70     18        75     30.14  7480.0
50  Feb-20     73     22        73     30.10  7500.0
51  Mar-20     88     34        76     30.09  7500.0
52  Apr-20     84     34        73     29.96  7500.0
53  May-20     87     45        73     29.98  7500.0
54  Jun-20     94     61        74     29.96  7500.0
55  20-Jul     94     71        76     29.96  7500.0
56  Aug-20     97     65        72     29.95  7500.0
57  Sep-20     90     50        78     30.03  7500.0
58  Oct-20     84     38        78     30.07  7500.0
59  Nov-20     80     32        72     30.19  7500.0

In [6]:
data = pd.DataFrame(list(df['Htemp']), columns=['htemp'])
df=data[:59]
df.shape
df.isnull().sum()
df=df.dropna(axis=0)
df.shape
df=df['htemp'].values
df[:5]
df=df.reshape(-1,1)
plt.figure(figsize=(25,7))
plt.plot(df, linewidth=1)
plt.title("Time Series (temperature month wise for 1 year)")
plt.show()

NameError: name 'df' is not defined

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
data_scaled = scaler.fit_transform(df) 
data_scaled[:5]
data_scaled.shape

(59, 1)

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.layers import Dense, RepeatVector, LSTM, Dropout
from tensorflow.keras.layers import Flatten, Conv1D, MaxPooling1D
from tensorflow.keras.layers import Bidirectional, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import plot_model

In [4]:
steps = 20
inp = []
out = []
for i in range(len(data_scaled) - (steps)):
    inp.append(data_scaled[i:i+steps])
    out.append(data_scaled[i+steps])
import numpy as np
inp = np.asanyarray(inp)
out = np.asanyarray(out)
len(df)*0.65
x_train = inp[:237,:,:]
x_test = inp[237:,:,:]
y_train = out[:237]
y_test= out[237:]
inp.shape
x_train.shape
x_test.shape

NameError: name 'data_scaled' is not defined

In [3]:
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape= (20,1)))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss = 'mean_squared_error', optimizer = 'adam')
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(20,1)))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss = 'mean_squared_error', optimizer = 'adam')

NameError: name 'Sequential' is not defined

In [ ]:
model.fit(x_train, y_train, epochs=300, verbose=1,)

In [ ]:
print("Predicted Value", model.predict(x_train)[40][0])
print("Expected value", y_train[40][0])

In [ ]:
predictions=model.predict(x_test)
print("Predicted Value", predictions[50][0])
print("Expected Value", y_test[50][0])

In [ ]:
predictions.shape

In [ ]:
y_test.shape

In [ ]:
pred_df=pd.DataFrame(predictions)
pred_df['TrueValues']=y_test
pred_df_new = pred_df.rename(columns={ 0: 'Predictions'})
pred_df_new

In [ ]:
plt.figure(figsize=(12,8))
sns.lineplot(data = pred_df_new)
plt.title("Predictions VS True Values on Testing Set")

In [ ]:
data_scaled.shape
x_input=data_scaled[:20]
x_input.shape
x_input = x_input.reshape(1,-1)
x_input.shape
temp_input = list(x_input)
temp_input = temp_input[0].tolist()

In [ ]:
x_input=data_scaled[:20]

In [ ]:
from numpy import array

lst_output=[]
n_steps=20
i=0
while(i<30):
    if(len(temp_input)>20):
        x_input=np.array(temp_input[1:])
        print("{} month input {}".format(i,x_input))
        x_input=x_input.reshape(1,-1)
        x_input=x_input.reshape((1, n_steps, 1))
        yhat = model.predict(x_input, verbose=0)
        print("{} month output {}".format(i,yhat))
        temp_input.extend(yhat[0].tolist())
        temp_input=temp_input[1:]
        lst_output.extend(yhat.tolist())
        i=i+1
    else:
        x_input = x_input.reshape((1, n_steps, 1))
        yhat = model.predict(x_input, verbose=0)
        print(yhat[0])
        temp_input.extend(yhat[0].tolist())
        lst_output.extend(yhat.tolist())
        i=i+1

In [ ]:
lst_output

In [ ]:
day_new = np.arange(1,366)
day_pred = np.arange(363, 393)
plt.figure(figsize = (12,8))
plt.plot(day_new, data_scaled)
plt.plot(day_pred, lst_output)

In [ ]:
data_scaled[:5]
df3 = data_scaled.tolist()
df3.extend(lst_output)
plt.figure(figsize=(12,8))
plt.plot(df3)

In [ ]:
df=pd.read_csv('weather.csv', delimiter=',', skipinitialspace=True)
df.tail(30)

In [ ]:
data = pd.DataFrame(list(df['TMIN']), index=df['DY'], columns=['tmin'])
df=data[:365]
df.shape
df.isnull().sum()
df=df.dropna(axis=0)
df.shape
df=df['tmin'].values
df[:5]
df=df.reshape(-1,1)
plt.figure(figsize=(25,7))
plt.plot(df, linewidth=1)
plt.title("Time Series (temperature month wise for 1 year)")
plt.show()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
data_scaled = scaler.fit_transform(df) 
data_scaled[:5]
data_scaled.shape

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.layers import Dense, RepeatVector, LSTM, Dropout
from tensorflow.keras.layers import Flatten, Conv1D, MaxPooling1D
from tensorflow.keras.layers import Bidirectional, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import plot_model

In [ ]:
steps = 20
inp = []
out = []
for i in range(len(data_scaled) - (steps)):
    inp.append(data_scaled[i:i+steps])
    out.append(data_scaled[i+steps])
import numpy as np
inp = np.asanyarray(inp)
out = np.asanyarray(out)
len(df)*0.65
x_train = inp[:237,:,:]
x_test = inp[237:,:,:]
y_train = out[:237]
y_test= out[237:]
inp.shape
x_train.shape
x_test.shape

In [ ]:
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape= (20,1)))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss = 'mean_squared_error', optimizer = 'adam')
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(20,1)))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss = 'mean_squared_error', optimizer = 'adam')

In [ ]:
model.fit(x_train, y_train, epochs=300, verbose=1,)

In [ ]:
print("Predicted Value", model.predict(x_train)[60][0])
print("Expected value", y_train[60][0])

In [ ]:
predictions=model.predict(x_test)
print("Predicted Value", predictions[80][0])
print("Expected Value", y_test[80][0])

In [ ]:
pred_df=pd.DataFrame(predictions)
pred_df['TrueValues']=y_test
pred_df_new = pred_df.rename(columns={ 0: 'Predictions'})
pred_df_new

In [ ]:
plt.figure(figsize=(24,16))
sns.lineplot(data = pred_df_new)
plt.title("Predictions VS True Values on Testing Set")

In [ ]:
data_scaled.shape
x_input=data_scaled[:20]
x_input.shape
x_input = x_input.reshape(1,-1)
x_input.shape
temp_input = list(x_input)
temp_input = temp_input[0].tolist()

In [ ]:
x_input=data_scaled[:20]

In [ ]:
from numpy import array

lst_output=[]
n_steps=20
i=0
while(i<30):
    if(len(temp_input)>20):
        x_input=np.array(temp_input[1:])
        print("{} month input {}".format(i,x_input))
        x_input=x_input.reshape(1,-1)
        x_input=x_input.reshape((1, n_steps, 1))
        yhat = model.predict(x_input, verbose=0)
        print("{} month output {}".format(i,yhat))
        temp_input.extend(yhat[0].tolist())
        temp_input=temp_input[1:]
        lst_output.extend(yhat.tolist())
        i=i+1
    else:
        x_input = x_input.reshape((1, n_steps, 1))
        yhat = model.predict(x_input, verbose=0)
        print(yhat[0])
        temp_input.extend(yhat[0].tolist())
        lst_output.extend(yhat.tolist())
        i=i+1

In [ ]:
lst_output